.response-box {
    float: left;
    border: 1px solid black;
    max-width: 90vw;
    min-width: 90vw;
    min-height: 44vh;
    white-space: break-spaces;
    border-radius: 20px;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 5px 5px rgba(0,0,0,0.23);
}