.ollama-img {
    height: 150px;
    width: 100px;
}

.content {
    display: grid;
    place-content: center;
    justify-items: center;
}

.make-question-button {
    margin-top: 10px;
    width: 35vw;
}

.question-box {
    width: 80vw;
    height: 10vh;
}

.prompt-box {
    white-space: word-break;
    margin-top: 4vh;
    min-height: 4vh;
}

.title {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 9vh;
}

.prompt-header {
    font-family: "Caveat Brush", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 4vh;
}

.response-header {
    font-family: "Caveat Brush", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 4vh;
}