<main class="main">
  <div class="content">
    <img src="../assets/ollama.png" class="ollama-img"/>
    <div class="title">Chat Ollama</div>

    <div class="prompt-header">Escribe algo</div>
    <textarea [(ngModel)]="prompt" class="question-box"></textarea>
    <button (click)="emitPrompt()" class="make-question-button">Haz la pregunta</button>

    <div class="prompt-box">
      <div>{{ lastPrompt }}</div>
    </div>

    <div class="response-header">Respuesta</div>
    <response-box/>
  </div>
  <!-- TODO: Add footer component-->
</main>
