<main class="main">
  <div [class]="lightTheme ? 'content' : 'content-dark'">
    <mat-slide-toggle #darkModeSwitch class="theme-switch" [checked]="lightTheme" [(ngModel)]="lightTheme" (change)="switchColor()"></mat-slide-toggle>
    
    <div style="margin-bottom: 5vh;">
      <div [class]="lightTheme ? 'circle-background circle-background-light' : 'circle-background circle-background-dark'"></div>
      
      <div class="title-container">
        <img [src]="lightTheme ? '../assets/ollama.png' : '../assets/ollama-dark.png'" class="ollama-img"/>
        <div [class]="lightTheme ? 'title-text title-light' : 'title-text title-dark'">Ollama Chatbot</div>
      </div>
    </div>

    <div *ngIf="error">
      <error-message [errorMessage]="errorDetail"/>
    </div>

    <response-box *ngIf="isLoaded" [messages]="messages" [waiting]="loading"/>

    <div style="padding-top: 2vh"></div> 

    <div class="prompt-container">
      <mat-form-field (keyup.enter)="emitPrompt()" style="min-width: 75vw;">
        <input [(ngModel)]="prompt" matInput #message maxlength="1000">
        <mat-hint align="end" [class]="lightTheme ? 'hint-light' : 'hint-dark'">{{prompt.length}} / 1000</mat-hint>
      </mat-form-field>
      
      <button (click)="emitPrompt()" class="prompt-button" mat-fab>
        <mat-icon matSuffix>send</mat-icon>
      </button>
    </div>   
  </div>
  <!-- TODO: Add footer component-->
</main>
